<div [ngClass]="{'theme-dark': esRutaEspecifica, 'theme-dark-satelital': esRutaEspecificaSatelital}">
    <div class="footer-section">
        <div class="footer-section--data">
            <div class="footer-section--data-info">
                <p class="title">DVL Satelital</p>
                <p class="text"><span style="font-weight: 700;">Casa Central<br></span> Marcos Ciani 3236 (Ruta 8 Km 370)<br> Venado Tuerto<br>
                    <span style="border-bottom: 2px solid #BCBCBC; padding-bottom: 1px;">Línea Gratuita:</span> <span style="font-weight: 700;"> 0800 555 8353</span><br>
                    <span style="font-weight: 700;">info&#64;dvl.com.ar</span>
                    </p>
            </div>
            <div class="footer-section--data-items">
                <div class="item">
                    <a routerLink="/">
                        <p class="text">Inicio</p>
                        <img src="assets/imgs/arrow-down.png" alt="arrow">
                    </a>
                </div>
                <div class="item">
                    <a routerLink="nosotros">
                        <p class="text">Nosotros</p>
                        <img src="assets/imgs/arrow-down.png" alt="arrow">
                    </a>
                </div>
                <div class="item">
                    <a routerLink="novedades">
                        <p class="text">Novedades</p>
                        <img src="assets/imgs/arrow-down.png" alt="arrow">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-section--copy">
            <p class="copy">©2024 DVL. All rights reserved</p>
            <p class="text">Lo impensado en tecnología, <strong style="font-weight: 700;">pensado para vos.</strong></p>
        </div>
    </div>
</div>