<div class="contacto-section">
    <div class="background-principal"></div>
    <div class="background-circle-one"></div>
    <div class="background-circle-two"></div>
    <div class="contacto-section-title">
        <p>Contacto:</p>
    </div>
    <div class="contacto-section-box">
        <form [formGroup]="contactFrom">
            <div class="contacto-form">
                <div class="contacto-form-personal">
                    <div class="contacto-form-personal-izq">
                        <div class="contacto-form-item">
                            <label>Nombre y Apellido*</label>
                            <input type="text" formControlName="name">
                        </div>
                        <div class="contacto-form-item">
                            <label>Empresa*</label>
                            <input type="text" formControlName="company">
                        </div>
                    </div>
                    <div class="contacto-form-personal-der">
                        <div class="contacto-form-item">
                            <label>Email*</label>
                            <input type="text" formControlName="email">
                        </div>
                        <div class="contacto-form-item">
                            <label>País*</label>
                            <select name="" id="" formControlName="country">
                                <option value="Argentina">Argentina</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Chile">Chile</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="contacto-form-item">
                    <label>Tu mensaje*</label>
                    <textarea formControlName="message"></textarea>
                </div>
                <div class="contacto-form-descripcion">
                    <p>Al enviar este formulario, acepta nuestros términos y condiciones y nuestra Política de
                        privacidad, que explica cómo podemos recopilar su información personal para nuestra base de
                        datos.</p>
                </div>
                <div class="contacto-form-button">
                    <button (click)="sendData()" [disabled]="contactFrom.invalid">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>