<div class="contacto-section">
    <div class="background-principal"></div>
    <div class="background-circle-one"></div>
    <div class="background-circle-two"></div>
    <div class="contacto-section-title">
        <p>Contacto:</p>
    </div>
    <div class="contacto-section-box">
        <form [formGroup]="contactFrom">
            <div class="contacto-form">
                <div class="contacto-form-personal">
                    <div class="contacto-form-personal-izq">
                        <div class="contacto-form-item">
                            <label>Nombre y Apellido*</label>
                            <input type="text" formControlName="name">
                        </div>
                        <div class="contacto-form-item">
                            <label>Empresa*</label>
                            <input type="text" formControlName="company">
                        </div>
                        <div class="contacto-form-item">
                            <label>DNI*</label>
                            <input type="number" formControlName="dni">
                        </div>
                    </div>
                    <div class="contacto-form-personal-der">
                        <div class="contacto-form-item">
                            <label>Email*</label>
                            <input type="text" formControlName="email">
                        </div>
                        <div class="contacto-form-item">
                            <label>Teléfono*</label>
                            <input type="number" formControlName="telephone">
                        </div>
                        <div class="contacto-form-item">
                            <label>Origen*</label>
                            <select name="" id="" formControlName="origin">
                              <option value="" disabled selected>Selecciona una opción</option>
                              <option value="google">Búsqueda en Google</option>
                              <option value="redes_sociales">Redes Sociales (Facebook, Instagram, Twitter, etc.)</option>
                              <option value="recomendacion">Recomendación de un amigo o familiar</option>
                              <option value="publicidad">Publicidad (Anuncios en redes, TV, radio, etc.)</option>
                              <option value="sitio_web">Visitando el sitio web</option>
                              <option value="evento">Evento o feria</option>
                              <option value="otros">Otros</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="contacto-form-item">
                    <label>Tu mensaje*</label>
                    <textarea formControlName="message"></textarea>
                </div>
                <!-- <re-captcha
                    class="recaptcha"
                    formControlName="recaptcha"
                    siteKey="6Le6LR4qAAAAANgRINwAsElWY7xc6lCtaZh1J75w">
                </re-captcha> -->
                <div class="contacto-form-descripcion">
                    <p>Al enviar este formulario, acepta nuestros términos y condiciones y nuestra Política de
                        privacidad, que explica cómo podemos recopilar su información personal para nuestra base de
                        datos.</p>
                </div>
                <div class="contacto-form-button">
                    <button (click)="sendData()" [disabled]="contactFrom.invalid">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
