<div class="animate__animated animate__fadeIn">
    <div class="video-section">
        <div class="video-section-title">
            <p class="title-primary">Tecnología impensada pensada para vos</p>
        </div>
        <div class="video-section-subtitle">
            <p class="subtitle-primary"><strong>Ofrecemos soluciones innovadoras que incorporan los últimos avances
                    tecnológicos
                    para integrar y monitorear remotamente los activos de nuestros clientes.</strong>
                <br>
                Nuestras herramientas proporcionan información en tiempo real, de manera segura y confiable, permitiendo
                así
                optimizar costos, minimizar riesgos y evaluar la productividad.
        </div>
        <div class="video-section-videos">
            <app-touch-slider [categoria]="'videos'" [images]="images" />
        </div>
        <div class="video-section-button">
            <a [routerLink]="['/nosotros']">
                <button class="btn-nosotros">Nosotros</button>
            </a>
        </div>
    </div>

    <div class="beneficios-section">
        <div class="beneficios-box">
            <div class="beneficios-box-text">
                <div class="text-world">
                    <img src="assets/imgs/global.png" alt="global">
                    <p class="text-world-data">Las 24 horas, <strong>los 365 días del año</strong></p>
                </div>
                <div class="beneficios-text">
                    <p class="beneficios-title">Bienvenido a DVL</p>
                    <p class="beneficios-text-paragraph">Las soluciones que brindamos incluyen:</p>
                    <ul>
                        <li>Suite de Servicios de Ingeniería IOT</li>
                        <li>Monitoreo de Flotas</li>
                    </ul>
                </div>
            </div>
            <div class="beneficios-box-cards">
                <div class="beneficio-card">
                    <a [routerLink]="['/iot']">
                        <div class="beneficio-card-image">
                            <img src="assets/imgs/dvl-iot.png" alt="dvl-iot">
                        </div>
                        <div class="beneficio-card-text">
                            IOT
                        </div>
                        <div class="reflect"></div>
                    </a>
                </div>
                <div class="beneficio-card">
                    <a [routerLink]="['/monitoreo-flota']">
                        <div class="beneficio-card-image">
                            <img src="assets/imgs/dvl-satelital.png" alt="dvl-satelital">
                        </div>
                        <div class="beneficio-card-text">
                            MONITOREO
                        </div>
                        <div class="reflect"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clientes-section">
        <p class="title-clientes">Nuestros Clientes</p>
        <div class="clientes-slide">
            <app-infinite-slide [logos]="imagesClientes" />
        </div>
    </div>
    <div class="contacto-section">
        <app-contacto />
    </div>
</div>