@if (categoria === 'videos') {
<swiper-container pagination="false" effect="coverflow" centered-slides="true" slides-per-view="auto"
    coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="200" coverflow-effect-modifier="1"
    initial-slide="0" controller="true" space-between="60" slide-active-class="true" class="swiper-videos"
    coverflow-effect-slide-shadows="true" navigation="true" allow-touch-move="false" focusable-elements="video">
    @for (item of images; track $index) {
    <swiper-slide>
        <video [poster]="item.imgPre"  [controls]="true" [src]="item.imgSrc"></video>
    </swiper-slide>
    }
</swiper-container>
}@else if (categoria === 'politicas') {
@if (slidesPerView === 3) {
<swiper-container slides-per-view="3" class="swiper-politicas" autoplay="true" space-between="30"
    pagination-enabled="true" pagination-clickable="true" pagination-type="bullets" grab-cursor="true"
    allow-touch-move="true" nested="true">
    @for (item of politicas; track $index) {
    <swiper-slide>
        <div class="politica-box">
            <div class="reflect"></div>
            <p class="no-select" [innerHTML]="item.text"></p>
        </div>
    </swiper-slide>
    }
</swiper-container>
} @else {
<swiper-container autoplay="true" class="swiper-politicas" loop="true" space-between="30" slides-per-view="1"  grab-cursor="true"
    allow-touch-move="true" nested="true">
    @for (item of politicas; track $index) {
    <swiper-slide>
        <div class="politica-box">
            <div class="reflect"></div>
            <p class="no-select" [innerHTML]="item.text"></p>
        </div>
    </swiper-slide>
    }
</swiper-container>
}
} @else if (categoria === 'certificaciones') {
@if (slidesPerViewCertificaciones === 3) {
<swiper-container slides-per-view="3" class="swiper-certificaciones" autoplay="true" autoplay-delay="5000"
    space-between="30" pagination-enabled="true" pagination-clickable="true" pagination-type="bullets"
    grab-cursor="true" allow-touch-move="true" nested="true">
    @for (item of certificaciones; track $index) {
    <swiper-slide>
        <div class="certificacion">
            <div class="certificacion-box">
                <div class="certificacion-box-img">
                    <img [src]="item.img ?? 'assets/imgs/certificaciones/no-img.png'" alt="cert-img">
                </div>
                <div class="certificacion-box-text">
                    <p class="no-select date-text">{{item.date | date:'dd/MM/YYYY'}}</p>
                    <p class="no-select title-text">{{item.title}}</p>
                    <p class="no-select link-text"><a (click)="goToCertificacion(item)">Ver</a></p>
                </div>
            </div>
        </div>
    </swiper-slide>
    }
</swiper-container>
} @else {
<swiper-container autoplay="true" autoplay-delay="5000" class="swiper-certificaciones" space-between="30"
    slides-per-view="1" pagination-enabled="true" pagination-clickable="true" pagination-type="bullets"
    grab-cursor="true" allow-touch-move="true" nested="true">
    @for (item of certificaciones; track $index) {
    <swiper-slide>
        <div class="certificacion">
            <div class="certificacion-box">
                <div class="certificacion-box-img">
                    <img [src]="item.img ?? 'assets/imgs/certificaciones/no-img.png'" alt="cert-img">
                </div>
                <div class="certificacion-box-text">
                    <p class="no-select date-text">{{item.date | date:'dd/MM/YYYY'}}</p>
                    <p class="no-select title-text">{{item.title}}</p>
                    <p class="no-select link-text"><a (click)="goToCertificacion(item)">Ver</a></p>
                </div>
            </div>
        </div>
    </swiper-slide>
    }
</swiper-container>
}
} @else if (categoria === 'novedades') {
@if (slidesPerViewNovedades === 3) {
    <swiper-container autoplay="false" 
                  class="swiper-novedades"
                  centered-slides="true" 
                  space-between="30" 
                  slides-per-view="3"
                  navigation="true" 
                  grab-cursor="true" 
                  allow-touch-move="false"
                  nested="true">
    @for (item of info; track $index) {
    <swiper-slide>
        <div class="novedad">
            <img [class.border-selected]="idSeleccionada === item.id" [src]="item.img_preview ?? 'assets/imgs/certificaciones/no-img.png'" alt="cert-img">
            <button (click)="enviarId(item.id)">Leer más</button>
        </div>
    </swiper-slide>
    }
</swiper-container>
}@else if (slidesPerViewNovedades === 2) {
    <swiper-container autoplay="false" 
                      class="swiper-novedades"
                      centered-slides="true" 
                      space-between="30" 
                      slides-per-view="2"
                      navigation="true" 
                      grab-cursor="true" 
                      allow-touch-move="false"
                      nested="true">
    @for (item of info; track $index) {
    <swiper-slide>
        <div class="novedad">
            <img [class.border-selected]="idSeleccionada === item.id" [src]="item.img_preview ?? 'assets/imgs/certificaciones/no-img.png'" alt="cert-img">
            <button (click)="enviarId(item.id)">Leer más</button>
        </div>
    </swiper-slide>
}
</swiper-container>

}@else if (slidesPerViewNovedades === 1) {
    <swiper-container autoplay="false" 
                      class="swiper-novedades"
                      centered-slides="true"
                      space-between="30" 
                      slides-per-view="1"
                      pagination="true"
                      grab-cursor="true" 
                      allow-touch-move="true"
                      nested="true">
    @for (item of info; track $index) {
    <swiper-slide>
        <div class="novedad">
            <img [class.border-selected]="idSeleccionada === item.id" [src]="item.img_preview ?? 'assets/imgs/certificaciones/no-img.png'" alt="cert-img">
            <button (click)="enviarId(item.id)">Leer más</button>
        </div>
    </swiper-slide>
}
</swiper-container>
}

}