<div class="head">
    <app-head [image]="'assets/imgs/dvl-satelital.png'" [title]="'Servicio de Monitoreo de flotas'"
        [subtitle]="'Lo impensado en tecnología'" [subtitleStrong]="'pensado para vos.'" />
</div>

<div class="servicios-section">
    <div class="servicios-section__title">
        <!-- <p>Servicios de ingeniería IoT para la telemetría de información remota.</p> -->
    </div>
    <div class="servicios-section__items">
        @for (item of servicios; track $index) {
        <div (click)="setIdSeleccionado(item.id, description)">
            <app-box-reflect [esSatelital]="true" [icon]="item.icon" [servicioSeleccionado]="idServicioSeleccionado"
                [title]="item.title" [id]="item.id" />
        </div>
        }
    </div>
    <div #description class="servicios-section__text" [ngClass]="{'animate__animated': animateText, 'animate__fadeIn': animateText}">
        <p>{{ getTextoIdSeleccionado() }}</p>
    </div>
</div>

<!-- <div class="beneficios-monitoreo-section">
    <div class="beneficios-monitoreo-section__title">
        <p style="text-align: center;">Beneficios de sumar Monitoreo de Flota</p>
    </div>
    <div class="beneficios-monitoreo-section__text">
        <p>Conectamos a las empresas con el mejor servicio de monitoreo de flotas. Nuestra solución permite tener un
            control total de cada vehículo en todo momento a través de nuestra plataforma web. Brindando tranquilidad,
            seguridad y eficiencia en la movilidad empresarial. Generando ahorros significativos, mejorando la
            rentabilidad del negocio.</p>
    </div>
</div> -->

<div class="herramientas-section">
    <div class="herramientas-section__image">
        <div class="text">
            <p>Herramientas <br>
                de la Plataforma</p>
        </div>
        <div class="image">
            <div class="image-box-principal">
                <!-- <img class="img-principal animate__animated animate__backInLeft" src="assets/imgs/satelital-icons/herramientas/img-principal.png" alt="img-principal">
                <div class="image-box-principal-items">
                    <img class="icon" src="assets/imgs/satelital-icons/herramientas/icon.png" alt="icon">
                    <img class="card" src="assets/imgs/satelital-icons/herramientas/card.png" alt="card">
                </div> -->
                <div class="img-princial">
                    <swiper-container grab-cursor="true" autoplay="true" space-between="20">
                        <swiper-slide>
                            <img src="assets/imgs/herramientas/panel-1.jpeg" alt="">
                        </swiper-slide>
                        <swiper-slide>
                            <img src="assets/imgs/herramientas/panel-2.jpeg" alt="">
                        </swiper-slide>
                    </swiper-container>
                </div>
            </div>
        </div>
    </div>
    <div class="herramientas-section__content">
        @for (item of herramientas; track $index) {
            <div class="box">
                <app-box-module [icon]="item.icon" [title]="item.title" [text]="item.text" />
            </div>
        }
    </div>
</div>

<div class="confian-section">
    <div class="confian-section__title">
        <div class="text">
            <p>Confían en nosotros</p>
        </div>
    </div>
    <div class="confian-section__imgs">
        @for (item of confian; track $index) {
            <img [src]="item.src" [alt]="item.alt">
        }
    </div>
</div>

<div class="casos-exito-section">
    <div class="casos-exito-section__title servicios-section__title">
        <p>Casos de éxito</p>
    </div>
    <div class="casos-exito-section__boxes">
        <div class="box">
            @if (slidesPerView === 2) {
                <swiper-container navigation="false"
                                  autoplay="true"
                                  slides-per-view="2"
                                  space-between="30">
                        @for (item of casosExito; track $index) {
                            <swiper-slide class="slide-caso">
                                    <app-box-exito [img]="item.img" [problematica]="item.problematica" [solucion]="item.solucion" [resultados]="item.resultados" />
                            </swiper-slide>
                        }
                </swiper-container>
            } @else if (slidesPerView === 1) {
                <swiper-container navigation="false"
                                  slides-per-view="1"
                                  navigation="false"
                                  pagination-enabled="true"
                                  pagination-clickable="true"
                                  pagination-type="bullets"
                                  space-between="30">
                        @for (item of casosExito; track $index) {
                            <swiper-slide class="slide-caso">
                                    <app-box-exito [img]="item.img" [problematica]="item.problematica" [solucion]="item.solucion" [resultados]="item.resultados" />
                            </swiper-slide>
                        }
                </swiper-container>
            }
        </div>
    </div>
</div>