<div [ngClass]="{'theme-dark': esRutaEspecifica}">
    @if (cargando()) {
        <div class="loader-section">
            <span class="loader"></span>
        </div>
    }

    <div class="layout" [ngClass]="{'hidde-content': cargando()}">
        <div class="nabvar">
            <app-navbar />
        </div>
        <div class="main-content">
            <router-outlet />
        </div>
        <div class="footer">
            <app-footer />
        </div>
    </div>

    <div class="whatsapp-btn">
        <div class="whatsapp-icon" (click)="openWhatsapp()">
           <img src="assets/imgs/whatsapp.png" alt="whatsapp-icon">
        </div>
    </div>
</div>
