.layout {
  position: relative;
}

.nabvar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.main-content {
  position: relative;
  margin-top: 7rem;

  @media (max-width: 1200px) {
    margin-top: 6.2rem;
  }
}

.theme-dark {
  .layout {
    .main-content {
      background-color: var(--dark-blue)!important;
    }
  }
}