@if (!cargando) {
  <div class="certificacion-box">
    <div class="certificacion-box-img">
      <img (click)="verImagen()" [src]="certificacion.image" alt="">
    </div>
    <div class="certificacion-box-content">
      <div class="certificacion-box-content--title">
        <p>{{ certificacion.title }}</p>
      </div>
      <div class="certificacion-box-content--date">
        <p>{{ certificacion.date | date:'dd/MM/YYYY' }}</p>
      </div>
      <div class="certificacion-box-content--text">
        <p [innerHTML]="certificacion.text"></p>
      </div>
    </div>
  </div>
}@else  {
  <div class="loader-dvl-box">
    <div class="loader-dvl"></div>
  </div>
}


