.slider {
  width: 80vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 64);
  position: relative;
}

.slider .slide {
  width: 200px;

  @media (max-width: 1000px) {
    width: 150px;
  }

  @media (max-width: 600px) {
    width: 100px;
  }
}

.slider .slide img {
  width: 100%;
}

.slider::before,
.slider::after {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100%;
  content: "";
  z-index: 2;

  @media (max-width: 420px) {
    width: 50px;
  }
}

.slider::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.slider::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 32));
    transform: translateX(calc(-200px * 32));

    @media (max-width: 1000px) {
      -webkit-transform: translateX(calc(-150px * 32));
      transform: translateX(calc(-150px * 32));
    }

    @media (max-width: 600px) {
      -webkit-transform: translateX(calc(-100px * 32));
      transform: translateX(calc(-100px * 32));
    }
  }
}