<div class="nosotros-section animate__animated animate__fadeIn">
    <div class="nosotros-section__data">
        @if (nosotros()) {
            <div class="nosotros-section__data--title">
                <div class="text-world">
                    <a style="display: contents;" target="_blank" href="https://tcsa.com.ar/">
                        <img src="assets/imgs/global-white.png" alt="global">
                        <p class="text-world-data"><strong>DVL es una división de la Empresa TC S.A.</strong></p>
                    </a>
                </div>
                <div class="title">
                    <p>{{ nosotros().title }}</p>
                </div>
                <div class="subtitle">
                    <p>{{ nosotros().subtitle }}</p>
                    <!-- <p>Ofrecemos soluciones innovadoras que incorporan los últimos avances tecnológicos para integrar y monitorear remotamente los activos de nuestros clientes.</p> -->
                </div>
            </div>
            <div class="nosotros-section__data--img">
                <img [src]="nosotros().image" alt="casa-central"  (load)="loaderService.setLoader(false)">
            </div>
            <div class="nosotros-section__data--body">
                    <div><p style="text-align: center;"><strong>MISIÓN</strong></p></div>
                    <p style="text-align: center;">Brindar servicios innovadores de atención personalizada a individuos, empresas y vehículos, con altos estándares de calidad.</p>
                    <div><p style="text-align: center;"><strong>VISIÓN</strong></p></div>
                    <p style="text-align: center;">Expandir la eficiencia y la sustentabilidad dentro de la sociedad, siendo sinónimo de tecnología y calidad.</p>
            </div>
        }
    </div>
    @if (estructura && empleados && anios) {
        <div class="nosotros-section__numbers">
            <div class="empleados datos-container" #numbers>
                <div style="display: inline-flex;">
                    +
                    <div class="number" [countUp]="empleados" [options]="{ enableScrollSpy: true, scrollSpyOnce: true }">0</div>
                </div>
                <div class="text">empleados</div>
            </div>
            <div class="estructura datos-container">
                <div class="number">
                    <div style="display: inline-flex;">
                        +
                        <div [countUp]="estructura" [options]="{separator: '', enableScrollSpy: true, scrollSpyOnce: true}">0</div>
                        <div>m2</div>
                    </div>
                </div>
                <div class="text">de estructura edilicia</div>
            </div>
            <div class="anios datos-container">
                <div style="display: inline-flex;">
                    +
                    <div class="number" [countUp]="anios" [options]="{ enableScrollSpy: true, scrollSpyOnce: true }">0</div>
                </div>
                <div class="text">años</div>
            </div>
        </div>
    }
    <div class="nosotros-section__politicas">
        <div class="nosotros-section__politicas--title">
            <p>
                Nuestras Políticas de Calidad
            </p>
        </div>
        <div class="nosotros-section__politicas--slider">
            @if (politicas()) {
                <app-touch-slider [politicas]="politicas()" [categoria]="'politicas'" />
            }
        </div>
        <div class="statement" style="margin-top: 1rem; text-align: center;">
          <strong>AN 01 - Rev 03 - Mayo 2023</strong>
        </div>
    </div>
    <div class="nosotros-section__certificaciones">
        <div class="nosotros-section__politicas--title">
            <p>
                Certificaciones de Calidad
            </p>
        </div>
        <div class="nosotros-section__politicas--slider">
            @if (certificaciones()) {
                <app-touch-slider [certificaciones]="certificaciones()" [categoria]="'certificaciones'" />
            }
        </div>
    </div>
</div>
