.navbar-section {
  font-family: Open Sans;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 6rem;
  background-color: white;
  transition: all .4s;

  @media (max-width: 1200px) {
    padding: 1rem 4rem;
  }

  @media (max-width: 1000px) {
    padding: 1rem 3rem;
  }

  @media (max-width: 900px) {
    padding: 1rem
  }

  @media (max-width: 768px) {
    display: none;
}

  &--logo {
    img {
      width: 9.6875rem;
      height: auto;
    }
  }

  &--items {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;
        color: var(--dark-blue);
        font-weight: 600;
        font-size: 1rem;
        line-height: 4.1875rem;


        &:not(:last-of-type) {
          margin-right: 1.25rem;
        }

        a {
          position: relative;
          
          &:hover {
            padding-bottom: .5rem;
            border-bottom: solid var(--dark-blue);
            border-bottom-width: 2px;
            transition: border-bottom-width .06s;
          }

          &::after {
            content: '';
            transition: all 0.3s;
          }
        }
      }
    }
  }

  &--button {
    button {
      background-color: var(--violet);
      color: #FFF;
      font-family: Open Sans;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 1rem 2.1875rem;
      border-radius: 5px;
      outline: none;
      border: none;

      @media (max-width: 1000px) {
        padding: .85rem 1.1875rem;
      }
    }
  }
}

.item-active {
  &:hover {
    border-bottom: none!important;
    padding-bottom: 0rem!important;
  }
  &::after {
    transition: all .6s;
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: var(--dark-blue);
    opacity: 1;
  }
}

.theme-dark {
  .navbar-responsive {
    background-color: var(--dark-blue);
    
    a {
      color: white!important;
    }
  }
  .navbar-section {
    background-color: var(--dark-blue);

    &--items {
      ul {

        li {
          color: white;
          a {
            &:hover {
              padding-bottom: .5rem;
              border-bottom: 2px solid #691183;
            }
          }
        }
      }
    }

    &--button {
      button {
        background-color: var(--violet-secondary);
        color: black;
      }
    }
  }

  .item-active {
    &::after {
      background-color: #691183;
    }
  }
}

.theme-dark-satelital {

  .navbar-responsive {
    background-color: var(--dark-blue);
    
    a {
      color: white!important;
    }
  }

  .navbar-section {
    background-color: var(--dark-blue);

    &--items {
      ul {

        li {
          color: white;
          a {
            &:hover {
              padding-bottom: .5rem;
              border-bottom: 2px solid var(--violet);
            }
          }
        }
      }
    }

    &--button {
      button {
        background-color: var(--violet);
        color: black;
      }
    }
  }

  .item-active {
    &::after {
      background-color: var(--violet);
    }
  }
}



.navbar-responsive {
  background-color: white;
  display: none;

  @media (max-width: 768px) {
      display: block;
  }

  &__top {
      display: flex;
      padding: 1.4rem 1rem;
      align-items: center;

      button {
        background-color: var(--violet);
        color: #FFF;
        font-family: Open Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 1rem 2.1875rem;
        border-radius: 5px;
        outline: none;
        border: none;
        margin-left: auto;

        @media (max-width: 300px) {
          padding: .5rem 1.5rem;
          font-size: .75rem;
        }
      }

      img {
          width: 10rem;
      }


      &__expand {
          padding: .5rem;
          cursor: pointer;
          margin-left: 1.5rem;

          img {
              width: 2.5rem;
              height: 2.5rem;
          }
      }
  }

  &__body {
      visibility: hidden;
      height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;
      position: relative;

      ul {
          margin-bottom: 0;

          li {
              display: flex;
              cursor: pointer;
              list-style: none;
              font-size: 1.6rem;
              font-family: Open Sans;

              &:not(:last-child) {
                  margin-bottom: 2rem;
              }

              a {
                  text-decoration: none;
                  color: #031A44;
              }
          }
      }
  }

  .expanded {
      height: 95vh;
      visibility: visible;
  }

}
.dvl-logo-responsive {
  display: block;

  @media (max-width: 370px) {
    display: none;
  }
}
.dvl-icon-responsive {
  display: none;
  width: 3rem!important;
  @media (max-width: 370px) {
    display: block;
  }
}