<div [ngClass]="{'theme-dark': esRutaEspecifica, 'theme-dark-satelital': esRutaEspecificaSatelital}">
    <div class="navbar-section">
        <div class="navbar-section--logo">
            <a routerLink="/"><img [src]="!esRutaEspecifica ? 'assets/imgs/dvl-logo.png' : 'assets/imgs/dvl-logo-blanco.png'" alt="logo"></a>
        </div>
        <div class="navbar-section--items">
            <ul>
                @for (item of menuItems; track $index) {
                    <li>
                        <a [routerLink]="item.path" routerLinkActive="item-active">
                            {{ item.title }}
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="navbar-section--button">
            <button>Login in</button>
        </div>
    </div>
</div>